{% extends 'frame.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{%  static 'css/viewer.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%  static 'css/data-info-panel.css'%}" />
{% endblock %}

{% block content %}

<div class="col-md-6" style="height: 100%; padding-left: 1px; padding-right: 1px">
    <div id="fd-panel" class="panel" style="position: relative; width: 100%; height: 100%">

    </div>
</div>
<div class="col-md-6" style="height: 100%; padding-left: 1px; padding-right: 1px">
    <div id="data-info-panel" class="panel" style="position: relative; width: 100%; height: 60%">
        <div id="dip-heading">
            <h2>Data Info</h2>
        </div>
        <div id="dip-control" class="dip-content">
            <h5>Batch Control</h5>
            <input id="dip-batch-slider" type="text" data-slider-min="0" data-slider-max="200" data-slider-step="10" data-slider-value="0"/>
            <span>Current Slider Value: <span id="dip-batch-select">0</span></span>
            <input checked data-toggle="toggle" data-on="<i class='fa fa-play'></i> Start" data-off="<i class='fa fa-pause'></i> Pause" type="checkbox"/>
        </div>
        <div id="dip-overall-info" class="dip-content" style="display: block">
            <h5>Over all info:</h5>
            <table class="table table-striped">
                <tr>
                    <th>Dataset</th>
                    <th>MINIST</th>
                </tr>
                <tr>
                    <th>Training set size</th>
                    <th>60000</th>
                </tr>

            </table>
        </div>
    </div>
    <div id="loss-panel" class="panel" style="position: relative; width: 100%; height: 40%">

    </div>
</div>

{% endblock %}

{% block script %}
    {% load staticfiles %}

    <script type="application/javascript" src="{% static 'js/fd-panel.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/data-info-panel.js' %}"></script>

{% endblock %}