{% extends 'frame.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{%  static 'css/viewer.css'%}" />
{% endblock %}

{% block content %}

<div class="col-md-6" style="height: 100%; padding-left: 1px; padding-right: 1px">
    <div id="fd-panel" class="panel" style="position: relative; width: 100%; height: 100%">

    </div>
</div>
<div class="col-md-6" style="height: 100%; padding-left: 1px; padding-right: 1px">
    <div id="data-info-panel" class="panel" style="position: relative; width: 100%; height: 60%">

    </div>
    <div id="loss-panel" class="panel" style="position: relative; width: 100%; height: 40%">

    </div>
</div>

{% endblock %}

{% block script %}
    {% load staticfiles %}

    <script type="application/javascript" src="{% static 'js/fd-panel.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock %}